<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    
    <!-- Product Components -->
    <ComponentGroup Id="ProductComponents">

      <!-- Start menu shortcut -->
      <ComponentRef Id="StartMenuShortcut" />

      <!-- Desktop shortcut -->
      <ComponentRef Id="DesktopShortcut" />

      <!-- Pallotino's algorithm and Insertion sort module -->
      <ComponentRef Id="PallotinoInsertionModule" />

      <!-- Bubble sort module -->
      <ComponentRef Id="BubbleModule" />

    </ComponentGroup>

    <!-- Installed files -->
    <DirectoryRef Id="INSTALLFOLDER"
                  FileSource="..\AlgorithmAnalysis.DesktopApp\bin\$(var.Platform)\$(var.Configuration)\netcoreapp3.1\publish\win-$(var.Platform)">

      <!-- Shortcut to main application in start menu -->
      <Component Id="StartMenuShortcut"
                 Guid="{0995664D-AE63-4DD6-B894-708A99611370}">

        <Shortcut Id="StartMenuShortcut"
                  Name="!(loc.ProductName_$(var.Platform))"
                  Target="[INSTALLFOLDER]AlgorithmAnalysis.DesktopApp.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico" />

        <!-- Our unique key for this component/shortcut -->
        <RegistryValue Id="RegStartMenuShortcutKey"
                       Root="HKCU"
                       Key="SOFTWARE\!(loc.ProductNameFolder)"
                       Name="Shortcut"
                       Value="1"
                       Type="integer"
                       KeyPath="yes" />
        
        <!-- Remove start menu items -->
        <RemoveFolder Id="RemoveStartMenu"
                      Directory="InstallProgramMenuFolder"
                      On="uninstall" />

      </Component>

      <!-- Shortcut to main application on desktop -->
      <Component Id="DesktopShortcut"
                 Guid="{C727C0A3-4D73-4F72-8FAB-EE9C939DB407}">

        <Shortcut Id="DesktopShortcut"
                  Name="!(loc.ProductName_$(var.Platform))"
                  Target="[INSTALLFOLDER]AlgorithmAnalysis.DesktopApp.exe"
                  Directory="DesktopFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico" />

        <!-- Our unique key for this component/shortcut -->
        <RegistryValue Id="RegDesktopShortcutKey"
                       Root="HKCU"
                       Key="SOFTWARE\!(loc.ProductNameFolder)"
                       Name="installed"
                       Value="1"
                       Type="integer"
                       KeyPath="yes" />

        <!-- Remove desktop folder items -->
        <RemoveFolder Id="RemoveDesktopFolder"
                      Directory="DesktopFolder"
                      On="uninstall" />

      </Component>

      <!-- Pallotino's algorithm and Insertion sort -->
      <Component Id="PallotinoInsertionModule"
                 Guid="{E18C955A-407C-44AC-9D10-0DB0BFD9CF68}">

        <File Id="algorithm_analysis.exe"
              Source="$(var.ProjectDir)\Binaries\algorithm_analysis.exe"
              KeyPath="yes"
              Checksum="yes" />

      </Component>

      <!-- Bubble sort from example project -->
      <Component Id="BubbleModule"
                 Guid="{A27CA09B-EE02-4389-ADBE-41B79126607D}">

        <File Id="AlgorithmAnalysis.Examples.NewAlgorithm.exe"
              Source="$(var.ProjectDir)\Binaries\AlgorithmAnalysis.Examples.NewAlgorithm.exe"
              KeyPath="yes"
              Checksum="yes" />

      </Component>
      
    </DirectoryRef>
    
  </Fragment>
 

</Wix>
